* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1 {
    height: 70px;
    color: #AE0000;
}

h2{
    color: #AE0000;
}

h6{
    color: #AE0000;
}

